@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  letter-spacing: 1px;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.notice {
  display: none;
}

@media only screen and (max-width: 889px) {
  div#root {
    display: none;
  }
  .notice {
    display: block;
    text-align: center;
    color: #fb6542;
    background-color: #0d0f0f;
    padding-top: 50px;
    height: 100vh;
  }
}
